<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="mt-3 container">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <p class="h1">Descargar vídeo/playlist </p>
                    </div>
                    <div class="card-text">
                        <hr class="border">
                        <form action="{{ url_for('download_file') }}" method="post">
                            <div class="mb-3">
                                <label for="dwld_type" class="form-label">Tipo de descarga:</label>
                                <select class="form-select" name="dwld_type" id="dwld_type">
                                  <option value=""></option>
                                  <option value="vídeo">Vídeo</option>
                                  <option value="playlist">Playlist</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="yt_link" class="form-label">Enlace:</label>
                                <input class="form-control" type="text" name="yt_link" min="0">
                            </div>
                            <div class="mb-3">
                                <label for="save_path" class="form-label">Ruta de destino:</label>
                                <input class="form-control" type="text" name="save_path" placeholder="/download" value="/download" disabled>
                            </div>
                                <!-- <a type="submit" href="{{url_for('download_file')}}"><button>Download</button></a> -->
                            <input class="btn btn-success" type="submit" value="Descargar" onclick="$('#downloading').show();"/>
                        </form>
                    </div>
                </div>
                <div id="downloading" style="display:none;"><img src="{{ url_for('static', filename='images/downloading.gif') }}" alt="" /></div>
            </div>
        </div>
    </body>
</html>